/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

// Font import
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Colors
$primary-backogrund-color: #0F162D;
$secondary-background-color: #FFFFFF;
$boxBackground: #272D42;
$iconBackground : #373155;

// Fonts
$fontMedium : 500;
$fontRegular : 400;

body {
    font-family: 'DM Sans', sans-serif;
    color: $secondary-background-color;
    background-color: $primary-backogrund-color;
    color: $secondary-background-color;
    font-size: 16px;

}
.section-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: inherit;
    padding: 0 16px;
}

.left-column {
    &__title {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.2;
        font-weight: $fontMedium;
    }
    &__text {
        color: $secondary-background-color;
        line-height: 24px;
        letter-spacing: 0;
        font-weight: $fontRegular;
        margin-top: 16px;
    }
}
.right-column {
    .boxes {
        margin-top: 24px;
        
        .box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 16px;
            max-width: 100%;
            height: 196px;
            border-radius: 20px;
            background-color: $boxBackground;

            &__icon{
                width: 28px;
                height: 28px;
                // chyba trzeba icon dac w container żeby dostać bacground z border radius
                border-radius: 14px;
                background-color: $iconBackground;
            }
            &__title {
                font-size: 20px;
                line-height: 24px;
                font-weight: 500;
            }
        }
    }
}

@media (min-width: 768px) {
    .section {
        padding: 159px 152px;
    }
    .section-container {
        flex-direction: row;
    }
    .left-column {
        max-width: 467px;
        &__title {
            font-size: 48px;
            line-height:56px;
            font-weight: 500;
        }
        &__text {
           
            line-height: 24px;
            font-weight: $fontMedium;
            margin-top: 16px;
        }
    }
}