/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

// Font import
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Colors
$primary-backogrund-color: #0F162D;
$secondary-background-color: #FFFFFF;


body {
    font-family: 'DM Sans', sans-serif;
    color: $secondary-background-color;
    background-color: $primary-backogrund-color;
    color: $secondary-background-color;
    font-size: 16px;
}
.section-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: inherit;
    padding: 0 16px;
}

.left-column {
    &__title {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.2;
        font-weight: 500;
    }
    &__text {
        color: $secondary-background-color;
        line-height: 24px;
        letter-spacing: 0;
        font-weight: regular;
        margin-top: 16px;
    }
}

@media (min-width: 1024px) {
    .section {
        padding: 159px 152px;
    }
    .section-container {
        flex-direction: row;
    }
    .left-column {
        max-width: 467px;
        &__title {
            font-size: 48px;
            line-height:56px;
            letter-spacing: -0.2;
            font-weight: 500;
        }
        &__text {
           
            line-height: 24px;
            font-weight: regular;
            margin-top: 18px;
        }
    }
}