/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

// Font import
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Mixins
@mixin flexCenterXandY {
    display: flex;
    justify-content: center;
    align-items: center;
  }

// Colors
$primary-backogrund-color: #0F162D;
$secondary-background-color: #FFFFFF;
$boxBackground: #272D42;
$iconBackground : #373155;

// Fonts
$fontMedium : 500;
$fontRegular : 400;

body {
    font-family: 'DM Sans', sans-serif;
    color: $secondary-background-color;
    background-color: $primary-backogrund-color;
    color: $secondary-background-color;
    font-size: 16px;
}
.section-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: inherit;
    padding: 0 16px;
}

.left-column {
    &__title {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.2;
        font-weight: $fontMedium;
    }
    &__text {
        color: $secondary-background-color;
        line-height: 24px;
        letter-spacing: 0;
        font-weight: $fontRegular;
        margin-top: 16px;
    }
}
.right-column {
    .boxes {
        margin-top: 24px;
        // display: flex;
        // flex-direction: column;
        // gap: 16px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }
}

.box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    height: 196px;
    border-radius: 20px;
    background-color: $boxBackground;
    

    &__icon{
        @include flexCenterXandY;
        width: 56px;
        height: 56px;
        // chyba trzeba icon dac w container żeby dostać bacground z border radius
        border-radius: 14px;
        background-color: $iconBackground;
    }
    &__title {
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        text-align: center;
    }
    &__text {
        text-align: center;
        color: $secondary-background-color;
    }
}

@media (min-width: 768px) {
    .section {
        display: flex;
        justify-content: center;

    }
    .section-container {
        @include flexCenterXandY;
        padding: 0;
    }
    .left-column {
        width: 496px;
        &__title {
            font-size: 48px;
            line-height:56px;
            font-weight: 500;
        }
        &__text {
           
            line-height: 24px;
            font-weight: $fontMedium;
            margin-top: 16px;
        }
    }
    .right-column {
        width: 496px;
        .boxes {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .box {
        max-width: 240px;
        height: 218px;
    }
}

@media (min-width: 1440px) {
    .section-container {
        flex-direction: row;
        gap: 109px;
    }
    .left-column {
        width: 467px;
        height: 511px;
    }
   .right-column {
        width: 560px;
        .boxes{
            margin-top: 0;
            gap: 31px 24px;
        }
    }
    .box {
        max-width: 268px;
        height: 240px;
    }
}